<html>
<meta http-equiv="refresh" content="600">

<head>
    <title>SolarSurfer Tracker 2.0</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.js"></script>
    <script src="./L.KML.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d305db2dc0.js" crossorigin="anonymous"></script>
    <style>
        #map {
            width: 100%;
            height: 100%;
        }
    </style>
    <style type="text/css">
        html,
        body {
            font-family: Roboto;
            height: 100%;
            margin: 0;
            width: 100%
        }

        #wrapper {
            min-height: 100%;
        }

        #mapid {
            height: 100%;
            width: 100%;
        }

        #brand {
            position: absolute;
            z-index: 2000;
            width: auto;
            background-color: #FFFFFF;
            color: black;
            margin: 10px;
            margin-top: 1vh;
            border-radius: 10px;
            padding: 10px;
            width: 280px;
        }

        .brand-img {
            display: block;
            max-width: 250px;
        }

        .title {
            font-size: 1.2em;
            font-weight: bold;
            display: block;
        }

        .detail-label {
            font-weight: bold;
            font-size: 0.8em;
            display: inline-block;
            width: 75px;
        }

        .detail-label-data {
            font-weight: bold;
            font-size: 0.8em;
            display: inline-block;
            width: 170px;
        }

        #status-box {
            position: absolute;
            z-index: 2000;
            width: auto;
            background-color: #2699D0;
            color: white;
            margin: 10px;
            margin-top: 40vh;
            border-radius: 10px;
            padding: 10px;
            width: 280px;
        }

        #weather-box {
            position: absolute;
            z-index: 2000;
            width: auto;
            background-color: #2699D0;
            color: white;
            margin: 10px;
            margin-top: 1vh;
            right: 1vh;
            border-radius: 10px;
            padding: 10px;
            width: 280px;
        }

        #color-box {
            position: absolute;
            z-index: 2000;
            width: auto;
            background-color: #2699D0;
            color: white;
            margin: 10px;
            margin-top: 80vh;
            right: 1vh;
            border-radius: 10px;
            padding: 10px;
            width: 280px;
        }

        #radius {
            width: 100%;
        }

        #last-segment-indicators-top {
            display: flex;
            justify-content: space-between;
            /* grid-template-columns: auto auto auto;
            grid-gap: 10px; */
        }
        #last-segment-indicators-bot {
            display: flex;
            justify-content: space-around;
            /* grid-template-columns: auto auto;
            grid-gap: 10px; */
        }

    </style>
</head>

<body>
    <div id="app">
        <div id="brand">
            <a href="https://bluerobotics.com"><img src="https://bluerobotics.com/wp-content/uploads/2020/01/BlueRobotics-Logo-Blue-Black.png" class="brand-img" /></a>
            <hr />
            <span class="title">SolarSurfer Tracker 2.0</span>
            <span class="detail-label">Vehicle:</span> <em>Solar Turtle</em><br />
            <span class="detail-label">Departed:</span> 1 July 2022<br />
            <span class="detail-label">Origin:</span> Los Angeles, CA, USA<br />
            <span class="detail-label">Destination:</span> Kona, Hawaii, USA<br />
            <span class="detail-label">ETA:</span> 45-60 days
        </div>
        <div id="status-box">
            <span>Last update: {{ lastUpdated }}</span></br>
            <hr />
            <strong>Last Segment:</strong><br />
            <div id="last-segment-indicators-top">
                <span><i title="Speed" class="fa-solid fa-gauge-high"></i> {{ last ? last["speed"].toFixed(1) : "N/A"}} m/s</span>
                <span><i title="Solar power" class="fa-solid fa-solar-panel"></i> {{ last ? last["solar_panel_power"].toFixed(0) : "N/A" }} W</span>
                <span><i title="Battery voltage" class="fa-solid fa-battery-three-quarters"></i> {{ last ? last["battery_voltage"].toFixed(2) : "N/A" }} V</span>
            </div>
            <div id="last-segment-indicators-bot">
                <span><i title="Power consumption" class="fa-solid fa-gas-pump"></i> {{ last ? (last["battery_voltage"] * last["battery_current"]).toFixed(1) : "N/A"}} W</span>
                <span><i title="Net energy" class="fa-solid fa-bolt"></i> {{ last ? last["net_energy"] > 0 ? "+" : "" : "" }}{{ last ? last["net_energy"].toFixed(0) : "N/A "}} Wh</span>
            </div>
            <hr />
            <span class="detail-label-data">Average speed: </span><span>{{ totalSpeed.toFixed(1) }} m/s</span></br>
            <span class="detail-label-data">Total Distance: </span><span>{{ totalDistanceKm.toFixed(1) }} km</span></br>
            <span class="detail-label-data">Total Energy: </span><span>{{ totalEnergy.toFixed(0) }} Wh</span></br>
            <span class="detail-label-data">Total Mission percentage: </span><span>{{ missionPercentage ? missionPercentage.toFixed(2) : "N/A" }} %</span></br>
            <span class="detail-label-data">Total Time: </span><span>{{ totalTime }}</span></br>
            <span class="detail-label-data">Distance from Home: </span><span>{{ distanceFromHomeKm ? distanceFromHomeKm.toFixed(2) : "N/A" }} km</span></br>
            <span class="detail-label-data">Distance to Hawaii: </span><span>{{ distanceToHawaiiKm ? distanceToHawaiiKm.toFixed(2) : "N/A" }} km</span></br>
            <span class="detail-label-data">Estimated arrival time: </span><span>{{ estimatedTimeToArrive}}</span>
        </div>
        <div id="weather-box">
            <span><strong>Local weather forecast</strong></span></br>
            <span>Wind: <i :style="`transform: rotate(${weatherData.winddir}deg); display:inline-block;`" class="bi bi-arrow-down"></i> {{weatherData.windspeed}} km/h</span>
        </div>

        <div id="color-box">
            <strong>Color Scale:</strong><br />
            <div id="points-color-selector">
                <form @submit.prevent>
                    <select v-model="expression" id="color" @change="replot()">
                        <option value="perc2color(point['solar_panel_power'].map(0,180,0,100),0,180)">Solar Power</option>
                        <option value="perc2color(point['battery_voltage'].map(14.0,16.5,0,100),-60,120)">Battery Voltage</option>
                        <option value="perc2color((point['battery_voltage']*point['battery_current']).map(0,100,100,0))">Power
                            Consumption</option><br>
                        <option value="perc2color(point['speed'].map(0,1.5,0,100))">Speed</option>
                        <option value="perc2color(point['average_thrust'].map(0,20,0,100))">Average Thrust</option>
                    </select>
                    <br>
                    <!-- <input type="text" v-model="expression" @change="replot()" /><br> -->
                    <label>Points: {{numberOfPoints}}</label><br>
                    <input type="range" min="10" :max="dataSeries.length" step="1" v-model="numberOfPoints"
                        @change="replot()" style="width: 100%;">
                </form>
            </div>
        </div>

        <div id="map"></div>
    </div>

    <script>
        Number.prototype.map = function (in_min, in_max, out_min, out_max) {
            return (this - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;
        }
        function perc2color(percentage, minHue = 0, maxHue = 180) {
            if (isNaN(percentage)) {
                percentage = 0
            }
            percentage = Math.min(Math.max(0, percentage), 100) // clamp between 0,100
            const hue = percentage / 100 * (maxHue - minHue) + minHue;
            return `hsl(${hue}, 100%, 50%)`;
        }
        function formatTimeExtended(timeMinutes) {
            const days = Math.floor(timeMinutes / (24 * 60))
            const hours = Math.floor((timeMinutes / 60) % 24)
            const minutes = Math.floor(timeMinutes % 60)
            return `${days} days, ${hours} hours, ${minutes} minutes`
        }

        Vue.createApp({
            el: "#app",
            data() {
                return {
                    dataSeries: [],
                    expression: "perc2color(point['solar_panel_power'].map(0,180,0,100),0,180)",
                    numberOfPoints: -1,
                    last: null,
                    currentSeries: [],
                    boatCoordinates: [],
                    kmlCoordinates: [],
                    weatherData: {
                        winddir: 0,
                        windspeed: 0,
                    },
                };
            },
            methods: {
                fetchWeatherData() {
                    axios.get("/weather")
                        .then((response) => {
                            this.weatherData = response.data.currentConditions
                        })
                },
                fetchNewData() {
                    axios.get("/payloads?skip=0&limit=100000")
                        .then(result => {
                            var data = result.data
                            total = data.length
                            if (this.numberOfPoints === -1) {
                                this.numberOfPoints = total
                            }

                            data.sort((p1, p0) => p1["time_unix_usec"] - p0["time_unix_usec"])

                            this.boatCoordinates = data.map(point => L.latLng(point["gps_lat"], point["gps_lon"]))

                            this.dataSeries = []
                            for (let n_point in data) {
                                point = data[n_point]
                                point["heading"] = (point["heading"] * 360 / 255),
                                    point["solar_panel_voltage"] = point["solar_panel_voltage"] * 64 / 255,
                                    point["battery_current"] = point["battery_current"] * 64 / 255
                                point["battery_voltage"] = point["battery_voltage"] * 20 / 255
                                point["left_motor_pwm"] = (point["left_motor_pwm"] - 127) * 100 / 127
                                point["right_motor_pwm"] = (point["right_motor_pwm"] - 127) * 100 / 127
                                point["power_consumption"] = point["battery_current"] * point["battery_voltage"]
                                point["average_thrust"] = (Math.abs(point["left_motor_pwm"]) + Math.abs(point["right_motor_pwm"])) / 2
                                // timedelta/speed calculation
                                if (n_point > 0) {
                                    const last = data[n_point - 1]
                                    const thisCoord = L.latLng(point["gps_lat"], point["gps_lon"])
                                    const lastCoord = L.latLng(last["gps_lat"], last["gps_lon"])
                                    point["distance_from_last"] = lastCoord.distanceTo(thisCoord)
                                    point["time_since_last"] = (point["time_boot_ms"] - last["time_boot_ms"]) / 1000
                                    point["speed"] = point["distance_from_last"] / point["time_since_last"]
                                    point["total_distance"] = last["total_distance"] + point["distance_from_last"]
                                    point["energy_generated"] = point["solar_panel_power"] * point["time_since_last"] / 3600
                                    point["energy_consumed"] = point["battery_voltage"] * point["battery_current"] * point["time_since_last"] / 3600
                                    point["net_energy"] = point["energy_generated"] - point["energy_consumed"]
                                    point["total_energy_consumed"] = last["total_energy_consumed"] + point["energy_consumed"]
                                }
                                else {
                                    point["time_since_last"] = 0
                                    point["distance_from_last"] = 0
                                    point["speed"] = 0
                                    point["energy_consumed"] = 0
                                    point["total_energy_consumed"] = 0
                                    point["total_distance"] = 0
                                }
                                this.dataSeries.push(point)
                            }
                            this.last = this.dataSeries[this.dataSeries.length - 1]
                            this.replot()
                        })
                },
                replot() {

                    this.currentSeries = this.dataSeries.slice(this.dataSeries.length - this.numberOfPoints)
                    if (this.map == undefined) {
                        const last = this.currentSeries[this.currentSeries.length - 1]
                        this.map = L.map('map').setView([last["gps_lat"], last["gps_lon"]], 13);
                        this.layer = L.layerGroup()
                        this.layer.addTo(this.map);
                    }
                    for (let n_point in this.currentSeries) {
                        point = this.currentSeries[n_point]
                        point["color"] = eval(this.expression)

                    }
                    this.layer.clearLayers();
                    L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                        maxZoom: 20,
                        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                    }).addTo(this.layer);

                    for (let n_point = 0; n_point < this.currentSeries.length - 2; n_point++) {
                        point = this.currentSeries[n_point]
                        next_point = this.currentSeries[n_point + 1]
                        L.polyline([point, next_point].map(point => [point["gps_lat"], point["gps_lon"]]), { color: point["color"] }).addTo(this.layer)
                    };

                    for (const point of this.currentSeries) {
                        let marker = L.marker([point["gps_lat"], point["gps_lon"]], {
                            title: JSON.stringify(point, null, 2),
                            rotationAngle: point["heading"],
                            icon: L.divIcon({
                                html: `
                                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                            <path fill="${point["color"]}" d="M15,20H9V12H4.16L12,4.16L19.84,12H15V20Z" />
                                        </svg>`,
                                className: "",
                                iconSize: [24, 24],
                                iconAnchor: [12, 12],
                            })

                        })

                        this.map.on('mouseover', function (ev) {
                            ev?.layer?.openPopup()
                        })

                        marker.addTo(this.layer);
                    }
                    fetch('mission.kml')
                        .then(res => res.text())
                        .then(kmltext => {
                            // Create new kml overlay
                            const parser = new DOMParser();
                            const kml = parser.parseFromString(kmltext, 'text/xml');
                            const track = new L.KML(kml);
                            this.kmlCoordinates = track.latLngs
                            this.map.addLayer(track);

                        });
                },


                //From: https://github.com/bbecquet/Leaflet.RotatedMarker/blob/master/leaflet.rotatedMarker.js
                createMap() {
                    // save these original methods before they are overwritten
                    var proto_initIcon = L.Marker.prototype._initIcon;
                    var proto_setPos = L.Marker.prototype._setPos;

                    var oldIE = (L.DomUtil.TRANSFORM === 'msTransform');

                    L.Marker.addInitHook(function () {
                        var iconOptions = this.options.icon && this.options.icon.options;
                        var iconAnchor = iconOptions && this.options.icon.options.iconAnchor;
                        if (iconAnchor) {
                            iconAnchor = (iconAnchor[0] + 'px ' + iconAnchor[1] + 'px');
                        }
                        this.options.rotationOrigin = this.options.rotationOrigin || iconAnchor || 'center bottom';
                        this.options.rotationAngle = this.options.rotationAngle || 0;

                        // Ensure marker keeps rotated during dragging
                        this.on('drag', function (e) { e.target._applyRotation(); });
                    });

                    L.Marker.include({
                        _initIcon: function () {
                            proto_initIcon.call(this);
                        },

                        _setPos: function (pos) {
                            proto_setPos.call(this, pos);
                            this._applyRotation();
                        },

                        _applyRotation: function () {
                            if (this.options.rotationAngle) {
                                this._icon.style[L.DomUtil.TRANSFORM + 'Origin'] = this.options.rotationOrigin;

                                if (oldIE) {
                                    // for IE 9, use the 2D rotation
                                    this._icon.style[L.DomUtil.TRANSFORM] = 'rotate(' + this.options.rotationAngle + 'deg)';
                                } else {
                                    // for modern browsers, prefer the 3D accelerated version
                                    this._icon.style[L.DomUtil.TRANSFORM] += ' rotateZ(' + this.options.rotationAngle + 'deg)';
                                }
                            }
                        },

                        setRotationAngle: function (angle) {
                            this.options.rotationAngle = angle;
                            this.update();
                            return this;
                        },

                        setRotationOrigin: function (origin) {
                            this.options.rotationOrigin = origin;
                            this.update();
                            return this;
                        }
                    });
                },
            },
            mounted() {
                this.createMap()
                this.fetchNewData()
                setInterval(this.fetchNewData, 30000);
                this.fetchWeatherData()
                setInterval(this.fetchWeatherData, 30000);
            },
            computed: {
                missionPercentage() {
                    return 100*(1 - this.distanceToHawaiiKm / (this.distanceFromHomeKm + this.distanceToHawaiiKm))
                },
                totalSpeed() {
                    // m/s
                    return (this.totalDistanceKm*1000) / (this.totalTimeMinutes*60)
                },
                lastUpdateTime() {
                    return this.last ? new Date(parseFloat(this.last['time_unix_usec'] / 1000)) : "n/a"
                },
                lastUpdated() {
                    return this.last ? moment(new Date(parseFloat(this.last['time_unix_usec'] / 1000))).fromNow() : "n/a"
                },
                estimatedTimeToArrive() {
                    const timeInSeconds = this.distanceToHawaiiKm*1000/this.totalSpeed
                    return formatTimeExtended(timeInSeconds / 60)
                },
                missionTotalDistanceKm() {
                    return this.kmlCoordinates
                        .slice(1)
                        .map(
                            (value, index) =>
                                value.distanceTo(this.kmlCoordinates[index])
                        )
                        .reduce((a, b) => a + b, 0) / 1000;
                },
                totalTimeMinutes() {
                    const first = this.currentSeries[0]
                    if (first === undefined) {
                        return 0
                    }

                    return (this.lastUpdateTime - parseFloat(first['time_unix_usec'] / 1000)) / (60e3)
                },
                totalTime() {
                    return formatTimeExtended(this.totalTimeMinutes)
                },
                distanceToHawaiiKm() {
                    const final = this.kmlCoordinates[this.kmlCoordinates.length - 1]
                    const current = this.boatCoordinates[this.boatCoordinates.length - 1]
                    if(final === undefined || current === undefined) {
                        return undefined
                    }
                    return current.distanceTo(final) / 1000
                },
                distanceFromHomeKm() {
                    const first = this.boatCoordinates[0]
                    const current = this.boatCoordinates[this.boatCoordinates.length - 1]
                    if(first === undefined || current === undefined) {
                        return undefined
                    }
                    return first.distanceTo(current) / 1000
                },
                totalDistanceKm() {
                    let sum = 0
                    for (const point of this.currentSeries) {
                        sum = sum + point["distance_from_last"]
                    }
                    return sum / 1000
                },
                totalEnergy() {
                    let sum = 0
                    for (const point of this.currentSeries) {
                        sum = sum + point["energy_consumed"]
                    }
                    return sum
                },
            }
        }).mount("#app")
    </script>
</body>

</html>